<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div id="block-seller" class="block seller" data-mage-init='{"collapsible":{"openedState": "active", "saveState": false}}'>
    <div class="title" data-role="title">
        <strong id="block-seller-heading" role="heading" aria-level="2"><?php /* @escapeNotVerified */ echo __('Add Vendor Code') ?></strong>
    </div>
    <div class="content" data-role="content" aria-labelledby="block-seller-heading">
        <form action="">
            <label for="code"><?= __('Enter the vendor code for verification') ?></label>
            <input id="code" name="code" type="text" placeholder="<?= __('Code') ?>">
        </form>
    </div>
</div>