<div class="switch-field">
    <div class="switch hidden-radio">
        <input type="radio" name="invoiceType" id="radio-generic" value="generic" checked="checked">
        <label for="radio-generic">Génerico</label>
    </div>
    <div class="switch">
        <input type="radio" name="invoiceType" id="radio-invoice" data-storedvalue="true" value="invoice">
        <label for="radio-invoice">Sí</label>
    </div>
</div>